---
import { BlogTitle } from '../../components/nak';
import { Bar } from '../../components/navigation/parts/bar';
export interface Props {
	title?: string;
}

const { title } = Astro.props;

const defaultTitle = title ?? 'Inject THIS';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{defaultTitle}</title>
	</head>
	<body>
		<div class="header">
			<BlogTitle/>
			<Bar client:visible/>
		</div>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		@media (prefers-color-scheme: dark) {
			--bg-color: #0A100D;
			--fg-color: #F6F6F6;
		}

		@media (prefers-color-scheme: light) {
			--bg-color: #F6F6F6;
			--fg-color: #0A100D;
		}
		--accent: 0, 148, 198;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #c1ff9b 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--bg-color);
		color: var(--fg-color);
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	pre.astro-code {
		background-color: #0A100D !important;
		border-radius: 0.5rem;
		padding-top: 1.5rem;
		padding-bottom: 1rem;
		padding-left: 1rem;
	}
	main {
		margin: auto;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-top: 1.5rem;
		max-width: 80ch;
	}
	div.header {
		margin: auto;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-top: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
	
</style>
