@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");
* {
  box-sizing: border-box;
}

body {
  background: #353535;
  color: #c4c4c4;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}



.main-content {
  padding: 1em;

  flex: 1 1 80%;
  min-height: 100vh;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.portfolio-item {
  background: rgba(249,104,85,0.25);
  color: #c4c4c4;
  font-weight: 700;
  display: flex;
  justify-content:center;
  padding-left: 0.05em;
  align-items: center;
  font-size: 1.5em;

  background-size: cover;
  background-position:center;
  transition: all ease-in-out 100ms;
  position: relative;
  z-index: 10;
}
.portfolio-item.small {
  grid-row: span 1;
  grid-column: span 1;
}
.portfolio-item.medium {

  grid-row: span 2;
  grid-column: span 2;
}
.wig-name{
  justify-content:flex-start;
  background-blend-mode: darken;
  background-image: url("../images/aboutme.JPG");
  background-position: center;
  object-fit: contain;
  transition: background-blend-mode ease-in-out 120ms;
}
.medium.name{
  align-self: flex-start;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0.05em;
}
.medium.name.first{
  font-size: 2em;
}
.medium.name.last{
  color: rgba(249,104,85,1);
  text-align: left;
  font-size: 1.5em;

  /* transform: translate(0,-1.25em); */
}
.medium.name.contact-me{
  transition: opacity ease-in-out 25ms;
  font-size: 0.8em;
  opacity: 0;
}
.wig-name:hover .medium.name.contact-me {
  opacity: 1;
}
.wig-name:hover{
  background-blend-mode: normal;
}
.portfolio-item.large {
  grid-row: span 3;
  grid-column: span 3;
}
.portfolio-item.tall {
  grid-row: span 3;
  grid-column: span 2;
}
.portfolio-item.wide {
  grid-row: span 2;
  grid-column: span 3;
}
.portfolio-item:hover {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  background-blend-mode: none;
}
.wig-pic{
  justify-content:flex-start;
  background-blend-mode: multiply;
  background-image: url("../images/me2.JPG");
  /* background-position: center; */
  object-fit: contain;
}
 #unique{
   color: rgba(249,104,85,1);
   text-decoration: none;
 }
/*//////////////////////////////*/
/* Let's style the social-buttons in such away that,
it should always be at the center of the browser */
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.social-buttons ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height
  and float them to left and set its border and border-radius.
 */
.social-buttons ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #D8E2DC;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px
to align it properly */
.social-buttons ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.social-buttons ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.social-buttons ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*github*/
.social-buttons ul li:hover.github {
  border: 5px solid #000000;
  box-shadow: 0 0 15px #000000;
  transition: all 0.5s ease;
}

.social-buttons ul li:hover .fa-github {
  color: #000000;
  text-shadow: 0 0 15px #000000;
  transition: all 0.5s ease;
}

/* instagram */
.social-buttons ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.social-buttons ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}



/* media queries */

@media screen and (max-width: 640px){
  .social-buttons {
      width: 350px;
  }
  .social-buttons ul li{
      margin-top: 10px;
  }
  .social-buttons ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .social-buttons {
      width: 150px;
  }
  .social-buttons ul li{
      margin:15px;
  }
  .social-buttons ul li.google{
      margin-left: 15px;
  }
}
