@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");
* {
  box-sizing: border-box;
}

body {
  background: #353535;
  color: #c4c4c4;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}



.main-content {
  padding: 1em;

  flex: 1 1 80%;
  min-height: 100vh;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.portfolio-item {
  background: rgba(249,104,85,0.25);
  color: #c4c4c4;
  font-weight: 700;
  display: flex;
  justify-content:center;
  padding-left: 0.05em;
  align-items: center;
  font-size: 1.5em;

  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 100ms;
  position: relative;
  z-index: 10;
}
.portfolio-item.small {
  grid-row: span 1;
  grid-column: span 1;
}
.portfolio-item.medium {

  grid-row: span 2;
  grid-column: span 2;
}
.wig-name{
  justify-content:flex-start;
  background-blend-mode: darken;
  background-image: url("../images/aboutme.JPG");
  background-position: center;
  object-fit: contain;
  transition: background-blend-mode ease-in-out 120ms;
}
.medium.name{
  align-self: flex-start;
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0.05em;
}
.medium.name.first{
  font-size: 2em;
}
.medium.name.last{
  color: rgba(249,104,85,1);
  text-align: left;
  font-size: 1.5em;

  /* transform: translate(0,-1.25em); */
}
.medium.name.contact-me{
  transition: opacity ease-in-out 25ms;
  font-size: 0.8em;
  opacity: 0;
}
.wig-name:hover .medium.name.contact-me {
  opacity: 1;
}
.wig-name:hover{
  background-blend-mode: normal;
}
.portfolio-item.large {
  grid-row: span 3;
  grid-column: span 3;
}
.portfolio-item.tall {
  grid-row: span 3;
  grid-column: span 2;
}
.portfolio-item.wide {
  grid-row: span 2;
  grid-column: span 3;
}
.portfolio-item:hover {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
  background-blend-mode: none;
}
.wig-pic{
  justify-content:flex-start;
  background-blend-mode: multiply;
  background-image: url("../images/me2.JPG");
  background-position: center;
  object-fit: contain;
}
 #unique{
   color: rgba(249,104,85,1);
   text-decoration: none;
 }
