.void-color{
  background: #4F4F4F;
}
.primary{
  background: #F2F2F2;
}
.primary-text{
  color: #EB5757;
}
.btn-primary{
  background: #EB5757;
  border: #EB5757;
}
.primary-2{
  background: #EB5757;
}
.btn-primary:hover{
  background: #4F4F4F;
  border: #4F4F4F;
}
.btn-primary:active:hover{
  background: #4F4F4F;
  border: #4F4F4F;
}
.title{
  display: inline;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  /* font-size: 99px; */
  font-size: 3em;
  line-height: 136px;

}
.name-inline{
  display: inline-block;
}
img{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.project{
 width: 100%;

}
.socialmedia{
  margin-right: 1em;
  font-size: 4em;
  display: inline;
  /* justify-content: center; */
  float: right;
}
.moon{
  position: fixed;
  z-index: -4;
}
#moon-image{
  position: fixed;
  top:20%;
  right:30%;
}
.deck-center{
  margin-left: auto;
  margin-right: auto;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  width: 1em;
  height: 1em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  box-shadow: 0px 0px 10px #666;
  color: #4F4F4F;
}

/* Set a specific color for each brand */

.fa .fa-github{
  /* font-size: 5em; */
}
.fa-github {
  background: #EB5757;
  color: #4F4F4F;

}

.fa-instagram {
  background: #EB5757;
  color: #4F4F4F;
}
.fa-linkedin {
  background: #EB5757;
  color: #4F4F4F;
}
/*  After 500px change view*/

@media (min-width:500px) {
  .title{
    font-size: 3em;
    line-height: 136px;
  
  }

}


/* Screen Sizes 700px and Up */
@media (min-width: 700px) {
  .title{
    font-size: 6em;
    line-height: 136px;
  
  }
  #moon-image{
    position: fixed;
    top:30%;
    right:35%;
  }
  .socialmedia{
    font-size: 6em;
  }
}

}
@media (min-width:540px){

}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  /* background-color: #000; */
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
