.void-color{
  background: #4F4F4F;
}
.primary{
  background: #F2F2F2;
}
.primary-text{
  color: #F2F2F2;
}
.title{
  display: inline;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: normal;
  /* font-size: 99px; */
  font-size: 4em;
  line-height: 136px;

}
img{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.project{
  transition: transform .2s; /* Animation */
  max-width: 200px;
}

.project:hover{
  transform: scale(1.5);
  
}
.moon{
  position: fixed;
}
.moon-image{
  position: fixed;
  bottom:-8px;
  right:45%;
}
.deck-center{
  margin-left: auto;
  margin-right: auto;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*  After 500px change view*/

@media (min-width:500px) {
  #landing{
    display: flex;
    height:100%;
  }
  #landing-text{
      height: 100vh;
  }
  #landing-pic{
      height: 100vh;
  }
  #underline{
    display: none;
  }

}


/* Screen Sizes 700px and Up */
@media (min-width: 700px) {
  .floating-button {
    width: 100px;
    height: 100px;
  }
  .plus{
    line-height: 100px;
    font-size: 43px;
  }

}
@media (min-width:540px){
  .proj-grid{
    grid-template-columns:repeat(4, 1fr );
    grid-template-rows: repeat(1, 1fr );
    height: 25vh;
   }
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  /* background-color: #000; */
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.body-particles{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
