@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #eee;
  height: auto;
}
h1{
  font-weight: 400;
  font-size: 2.5rem;
  text-transform:uppercase;
  margin: 0;
}
h2{
  font-weight: 400;
  font-size: 1.2rem;
  
}
img{
  display: block;
  width: 100%;
}
main{
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
  -30px 0px 40px rgba(0, 0, 0, 0.1);
}
#landing{
  background: #fff;
}
#landing-text{
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}
#landing-text h2{
  color: #888;
}
#landing-pic{
  background: url("https://source.unsplash.com/dDLEvWzehac");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

/* Floating Button*/
.floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px;
  font-family: 'Roboto';
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
   text-decoration: none;
}

.container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

.container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

.container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}



/*  After 500px change view*/

@media (min-width:500px) {
  #landing{
    display: flex;
    height:100%;
  }
  #landing-text{
      height: 100vh;
  }
  #landing-pic{
      height: 100vh;
  }
}

Screen Sizes 700px and Up
@media (min-width: 700px) {
  .floating-button {
    width: 100px;
    height: 100px;
  }
  .plus{
    line-height: 100px;
    font-size: 43px;
  }
}
