---
import BlogLayout from "../layouts/blog/BlogLayout.astro";
import { RecentPosts } from '../components/blog/recent-posts'
import { Card } from "../components/Card";
const posts = await Astro.glob('./posts/*.{md,mdx}');

const getFeaturedPosts = (posts: any[]) => {
    return posts.sort((a, b) => {
    const aUrl = a.url.toLowerCase();
    const bUrl = b.url.toLowerCase();
        if (aUrl > bUrl) {
            return -1;
        }
        if (aUrl < bUrl) {
            return 1;
        }
        return 0;
    }).slice(0, 8);
}
const sortedPosts = getFeaturedPosts(posts);

const data = { 
    title: "Inject THIS", 
    description: "Welcome to Inject THIS! A Blog about some of my dumb fun projects.", 
    author: 'ShounakA' 
};
---

<BlogLayout frontmatter={data}>
    <section>
        <RecentPosts posts={sortedPosts} client:load/>
    </section>
    <section>
        <h2 class="">Medium Posts</h2>
        <ul role="list" class="link-card-grid">
            <Card 
                title={"How ‘roids’ helped me learn dependency injection"} 
                body={"How I built ‘roids’ to gain some experience in Go and better understand how dependency injection might work elsewhere."} 
                href={"https://medium.com/@shounak.p.amladi/how-roids-helped-me-learn-dependency-injection-27a441175603"} 
                linkTarget=""
                client:visible
            />
        </ul>
    </section>
</BlogLayout>

<style>
	section {
		margin: auto;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-bottom: 1.5rem;
		max-width: 60ch;
	}
    .link-card-grid {
		display: flex;
		flex-direction: row;
	}
</style>