---
import Layout from '../layouts/Layout.astro';
import { Card } from '../components/Card';
---

<Layout title="nak">
	<section>
		<ul role="list" class="link-card-grid">
			<span class="text-gradient">YOU PASSED!</span>
		</ul>
	</section>
</Layout>

<style>
	section {
		margin: auto;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-bottom: 1.5rem;
		max-width: 60ch;
	}
</style>