---
import Layout from '../layouts/Layout.astro';
import { GameGrid } from '../components/canvas-grid/GameGrid';
---

<Layout title="nak">
	<section class="link-card-grid">
		<GameGrid numRows={100} numCols={100} cellSize={10} tickTime={250} client:only/>
	</section>
</Layout>

<style>
	section {
		margin: auto;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-bottom: 1.5rem;
	}
</style>