---
import Layout from '../layouts/Layout.astro';
import { Card, XpCard } from '../components/Card';
---

<Layout title="Shounak's Portfolio">
	<section>
		<ul role="list" class="link-card-grid">
			<XpCard
				href="https://www.linkedin.com/company/jsigroup/"
				title="Software Developer"
				company="@JSI Group"
				startDate={new Date(2021, 6)}
				endDate={null}
				client:visible
			/>
			<XpCard
				href="https://www.linkedin.com/company/versaterm-inc./"
				title="Junior Software Developer"
				company="@Versaterm"
				startDate={new Date(2020, 10)}
				endDate={new Date(2021, 3)}
				client:visible
			/>
			<XpCard
				href="https://www.linkedin.com/company/cord3-innovation-inc/"
				title="Junior Software Developer"
				company="@Cord3 Innovations"
				startDate={new Date(2018, 0)}
				endDate={new Date(2019, 7)}
				client:visible
			/>
			<Card 
				href="https://www.linkedin.com/in/shounakamladi/details/experience/"
				title="shounakamladi"
				body="See more on Linkedin."
				client:visible
			/>
		</ul>
	</section>
</Layout>

<style>
	section {
		margin: auto;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		padding-bottom: 1.5rem;
		max-width: 60ch;
	}
	.link-card-grid {
		display: flex;
		flex-direction: column;
	}

</style>
