h1 {
   cursor: pointer;
   font-size: 3rem;
   font-weight: 800;
   margin: 0;
}

h1 a {
   text-decoration: none;
}
.text-gradient {
   background-image: var(--accent-gradient);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-size: 400%;
   background-position: 0%;
}

.text {
   color: rgb(var(--accent));
}