.instructions {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   line-height: 1.6;
   margin: 1rem 0;
   border: 1px solid rgba(var(--accent), 25%);
   background-color: var(--bg-color);
   padding: 1rem;
   border-radius: 0.4rem;
}
.instructions code {
   cursor: pointer;
   font-size: 0.875em;
   font-weight: bold;
   background: rgba(var(--accent), 12%);
   color: rgb(var(--accent));
   border-radius: 4px;
   padding: 0.3em 0.45em;
}
a {
   color: inherit;
 }
.instructions strong {
   color: rgb(var(--accent));
}
.link-card-grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
   gap: 1rem;
   padding: 0;
   transition: padding 2s;
}